<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommandConfigFile" value="Command Settings.xml"/>
    <add key="HostDirectory" value="C:\Users\Aron Sajan Philip\Documents\Visual Studio 2010\Projects\XPro\XproConsole\bin\Debug"/>
  </appSettings>
</configuration>